<div class="container text-center">
    <h2>Meteo</h2>
    <form (ngSubmit)="onSearch()">
      <mat-form-field class="full-width">
        <mat-label>Località</mat-label>
        <input matInput (input)="onLocationInput($event)" [(ngModel)]="location" name="location">
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Data</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate" name="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <button mat-flat-button color="primary" type="submit" [disabled]="!selectedLocation">Cerca</button>
    </form>
    <div class="row" *ngIf="locations.length > 0">
      <mat-card mat-raised-button *ngFor="let loc of locations" (click)="onLocationSelect(loc)" >
        <mat-card-content>
          <p>{{loc.display_name}}</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="results" *ngIf="weather">
      <h3>Previsioni Meteo per {{ selectedLocation.display_name }} il {{ selectedDate | date }}</h3>
      <p>Temperatura Massima: {{ weather.temperature_2m_max[0] }}°C</p>
      <p>Temperatura Minima: {{ weather.temperature_2m_min[0] }}°C</p>
      <button mat-fab extended [disabled]="!isLogged" (click)= "save()">
        <mat-icon>favorite</mat-icon>
        Salva
      </button>
      <mat-error *ngIf="!isLogged">Devi essere loggato per salvare i risultati</mat-error>
    </div>
  </div>